In [1]:
a = 80

In [2]:
b = 90

In [3]:
a + b

170

sum([1,2,2,2,2,2,])

In [7]:
sum([1,2,2,2,2,2,])

11

In [8]:
"saya lapar"".upper()

SyntaxError: EOL while scanning string literal (<ipython-input-8-6270fd0b10dc>, line 1)

In [11]:
import numpy as py
import pandas as pd

In [17]:
text = "       saya        haus      "

In [13]:
text.upper()

'SAYA LAPAR'

In [14]:
besar = text.upper()

In [15]:
besar

'SAYA LAPAR'

In [16]:
besar.lower()

'saya lapar'

In [18]:
text

'       saya        haus      '

In [19]:
text.strip()

'saya        haus'

In [20]:
text.split()

['saya', 'haus']

In [21]:
"*".join(text.split())

'saya*haus'

In [22]:
text.replace("a", "u")

'       suyu        huus      '

In [23]:
text.type()

AttributeError: 'str' object has no attribute 'type'

In [24]:
type(text)

str

In [25]:
type(a)

int

In [26]:
type([a,text,b])

list

In [27]:
umur = 17

In [33]:
if umur < 3:
    print("remaja")
else:
    print("anak2")

anak2

In [34]:
numbers = [1,2,3,4,5,6,7,8]

In [35]:
for i in numbers:
    print("Nomer", i)

Nomer 1
Nomer 2
Nomer 3
Nomer 4
Nomer 5
Nomer 6
Nomer 7
Nomer 8

In [36]:
numbers2 = range(10)

In [37]:
list(numbers2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
print(numbers2)

range(0, 10)

In [39]:
for i in numbers2:
    print("nomer", i)

nomer 0
nomer 1
nomer 2
nomer 3
nomer 4
nomer 5
nomer 6
nomer 7
nomer 8
nomer 9

In [40]:
i = 0

In [42]:
while i < 7:
    print("urutan", i)
    i = i+1

urutan 0
urutan 1
urutan 2
urutan 3
urutan 4
urutan 5
urutan 6

In [45]:
def persegi(panjang, lebar):
    if panjang == lebar:
        print("persegi")
    else:
        print("persegi_panjang")

In [47]:
persegi(3,4)

persegi_panjang

In [48]:
persegi(panjang=3, lebar=4)

persegi_panjang

In [49]:
def perkalian(x, y):
    return x*y

In [50]:
perkalian(3,10)

30

In [51]:
urutan = [1,3,6,4,7]

In [54]:
urutan.append(5)

In [55]:
urutan

[1, 3, 6, 4, 7, 5]

In [57]:
urutan.append([3,6,5])

urutan

In [58]:
urutan

[1, 3, 6, 4, 7, 5, [3, 6, 5]]

In [60]:
for i in urutan:
        print("urutan", i)

urutan 1
urutan 3
urutan 6
urutan 4
urutan 7
urutan 5
urutan [3, 6, 5]

In [61]:
urutan[2:3]

[6]

In [64]:
urutan[1:4]

[3, 6, 4]

In [74]:
urutan[:4] #oke

[1, 3, 6, 4]

In [75]:
#membuat dictionary
biodata = {
    "nama": "Rizal",
    "umur": 24,
    "asal": "PASURUAN"
}

In [77]:
biodata.keys()

dict_keys(['nama', 'umur', 'asal'])

In [78]:
biodata.values()

dict_values(['Rizal', 24, 'PASURUAN'])